* {
  font-family: futura, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts and text sizing, general styling*/
h1 {
  font-family: Monoton, sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 3em;
  text-align: right;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 2em;
  text-transform: uppercase;
  padding-top: 2em;
}

p {
  font-family: lato, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  padding: 1em;
}

img {
  width: 100%;
  padding: 2%;
}


/* BODY -- flex*/
body {
  display: flex;
  flex-direction: row;
}

/* ASIDE */
aside {
  position: fixed;
  margin-top: 3em;
  padding: 4em 1.5em;
  width: 17em;
  height: 60em;
  border-right: .18em solid black;
}

aside nav {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  text-align: right;
}

aside nav a {
  font-size: 1.5em;
  padding-top: 1em;
  color: black;
}

/* MAIN */
main {
  margin-left: 17em;
  text-align: center;
  width: 100%;
}

/*Sections in Main*/
section {
  display: none;
}

section nav {
  position: fixed;
  text-align: left;
  padding-top: 3em;
}

section nav a {
  padding-left: 1.5em;
  color: black;
}

/*Articles in Sections*/
article {
  padding-top: 6em;
  display: none;
  margin: 0 auto;
}

.content {
  width: 75%;
  margin: 0 auto;
}

/*Artist Section*/
#art article div{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 1%;
}

#art article {
  display: flex;
  flex-direction: row;
}

/* About Section */

#about {
  /*display: flex;*/
  margin: 0 auto;
  width: 70%;
}

#about img {
  width: 40%;
  float: left;
  padding: 2em;
}



/*Project One*/

.gamemain {
  padding: 1em 0;
  background-color: rgb(80,120,180);
  background-image: url("../img/seaweed.png");
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: bottom 0 right 0;
}

.gameheader {
  background-color: rgb(210,230,250);
  padding: 3em;
  /*width: 70em;*/
}

#projectonegame h1 {
  color: white;
  font-size: 3em;
  text-transform: none;
}

#projectonegame p {
  padding: .2em;
  font-size: 1.5em;
  color: rgb(130,140,255);
  text-align: right;
}

#projectonegame h2 {
  text-decoration: none;
  padding: .7em .2em;
  font-size: 3em;
  color: white;
  background-color: rgb(255, 220, 0);
  border-radius: 3em;
  position: absolute;
  top: 3em;
}

.gamemain div {
  width: 10em;
  z-index: 1;
}

.gamesand {
  height: 3em;
  background-color: tan;
}
/**/
