* {
  font-family: futura, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts and text sizing, general styling*/
#menu {
  display: none;
}

h1 {
  font-family: Monoton, sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 3em;
  text-align: right;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 3em 0 2em 0;
}

p {
  font-family: lato, sans-serif;
  font-size: 1.5em;
  text-align: justify;
  padding: 1em;
  line-height: 1.5em;
}

li {
  font-family: lato, sans-serif;
  list-style: none;
  font-size: 2em;
  padding: .3em 0;
}

span a {
  font-size: 1.3em;
  padding: 4em 2em 6em 2em;
  display: inline-block;
  color: black;
}

.clearfix {
  overflow: auto;
}

#intro img, #about img {
  width: 50%;
  float: left;
  padding: 2em 2em 1em 2em;
}

#art img, #projects img {
  width: 100%;
}


/* BODY -- flex*/
body {
  display: flex;
  flex-direction: row;
}

/* ASIDE */
aside {
  position: fixed;
  margin-top: 3em;
  padding: 4em 1.5em;
  width: 17em;
  height: 60em;
  border-right: .18em solid black;
}

aside nav {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  text-align: right;
}

aside a {
  color: black;
}

aside nav a {
  font-size: 1.5em;
  padding-top: 1em;
}

/* MAIN */
main {
  margin-left: 17em;
  text-align: center;
  width: 100%;
}

/*Sections in Main*/
section {
  display: none;
}

section nav {
  position: fixed;
  top: 0;
  text-align: left;
  padding: 4em 0 1em 2em;
  background-color: white;
  width: 100%;
  z-index: 1;
}

section nav a {
  padding-left: 1.5em;
  color: black;
}

/* Homepage */

#homepage {
  display: flex;
  flex-direction: column;
}

/* Articles in Sections*/
article {
  padding-top: 4em;
  display: none;
  margin: 0 auto;
}

.content {
  width: 75%;
  margin: 0 auto;
}

/*Section Home*/
.sectionhome {
  display: flex;
  flex-flow: row wrap;
  padding-top: 5em;
}

.sectionhome p {
  color: black;
  background-color: rgba(255,255,255,.6);
  text-align: center;
  font-family: futura, sans-serif;
}

#projectshome div, #arthome div {
  margin: 2% 0 0 2%;
  background-color: grey;
  background-size: cover;
  background-position: center;
}

#projectshome div {
  width: 30.5%;
}

#arthome div {
  width: 47%;
}

#arthome div p {
  margin-top: 45%;
}

#projectshome div p {
  margin-top: 53%;
}

#arthomeone {
  background-image: url("../img/mural2-copy.jpg");

}
#arthometwo {
  background-image:url("../img/handwearing2-copy.jpg")
}
#arthomethree {
  background-image: url("../img/cosmos-copy.jpg");
}
#arthomefour {
  background-image: url("../img/shibori-copy.jpg");
}



#projectshomeone {
  background-image: url("../img/game.jpg");
}
#projectshometwo {
  background-image: url("../img/monument.jpg");
}
#projectshomethree {
  background-image: url("../img/shoppingcart.jpg");
}
#projectshomefour {
  background-image: url("../img/geoquakes.jpg");
}
#projectshomefive {
  background-image: url("../img/catalyst.jpg");
}
#projectshomesix {
  background-image: url("../img/.jpg");
}

/*Intro*/
#intro {
  padding-top: 8em;
}

#intro p {
  font-size: 1.7em;
}

/*Skills*/
#skills {
  padding: 9em 0 3em 0;
}

#skills div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: .15em solid black;
  margin: 0 auto;
}

#skills ul {
  padding: 3em;
}

#skills h4 {
  padding: .5em 0;
  border-bottom: .15em solid black
}

.toolslist {
  text-align: right;
}

.skillslist {
  text-align: left;
}

/*Testimonials*/
#testimonials {
  padding-top: 4em;
}

#testimonials p {
  text-align: center;
  font-size: 1.7em;
}

/*Projects*/
#projects article p {
  font-size: 1.2em;
}

/*Project One*/

.gamemain {
  padding: 1em 0;
  background-color: rgb(80,120,180);
  background-image: url("../img/seaweed.png");
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: bottom 0 right 0;
}

.gameheader {
  background-color: rgb(210,230,250);
  padding: 3em;
}

#projectonegame h1 {
  color: white;
  font-size: 3em;
  text-transform: none;
}

#projectonegame p {
  padding: .2em;
  color: rgb(130,140,255);
  text-align: right;
}

#projectonegame h2 {
  text-decoration: none;
  padding: .7em .2em;
  font-size: 3em;
  color: white;
  background-color: rgb(255, 220, 0);
  border-radius: 3em;
  position: absolute;
  top: 3em;
}

.gamemain div {
  width: 10em;
  z-index: 1;
}

.gamesand {
  height: 3em;
  background-color: tan;
}

/*Artist Section*/
#art article div {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 1%;
}

#art article {
  padding-top: 6em;
  display: flex;
  flex-direction: row;
}

#art article img {
  margin: 2% 0;
}

/* About and Comment Section */
#about, #contact {
  margin: 7em auto 0 auto;
  width: 70%;
}

/*About Section*/

#about p {
  text-align: justify;
  font-size: 1.2em;
}

/* Comment Form */
#contact form {
  display: flex;
  flex-direction: column;
}

button, input, textarea {
  font-size: 1em;
  letter-spacing: .2em;
  border: .14em solid black;
  resize: none;
  padding: .7em;
}

input, textarea {
  font-family: lato, sans-serif;
}

.nameemail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameemail div { /*sets width of input + error message div*/
  width: 32.5%;
}

.nameemail input {
  width: 100%;
  margin-bottom: .5em;
}

textarea {
  height: 18em;
  margin: .5em 0;
}

button {
  width: 100%;
  margin: .5em 0;
  text-transform: uppercase;
  transition: .3s;
  transition-timing-function: ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}

::placeholder { /* Recent browsers */
    text-transform: uppercase;
}

.error {
  display: none;
  border: .14em solid red;
}

.errorMessage {
  display: none;
  color: red;
  text-align: left;
  font-size: .9em;
  padding: 0 0 .7em 0;
}

/*Footer*/

#footer p{
  padding: 10em 0 2em 0;
  margin: 0 auto;
  text-align: center;
}


@media only screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  #menu {
    display: block;
    font-size: 3em;
    z-index: 2;
    text-align: right;
    padding: .6em;
    position: fixed;
    right: 0;
    z-index: 2;
    color: black;
  }

  main {
    width: 100%;
    margin: 0;
  }

  .content {
    width: 90%;
  }

  section nav {
    padding-top: 7em;
  }

  aside {
    margin-left: .5em;
    margin-top: 2em;
    top: 0;
    padding: 0;
    width: 80%;
    height: 3em;
    border: .18em solid black;
    z-index: 2;
  }

  aside h1 {
    display: none;
  }

  aside nav {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  aside nav a {
    font-size: .9em;
    color: black;
    text-transform: uppercase;
  }

  h4 {
    padding-top: 4em;
  }

  #projectonegame {
    display: none;
  }

  .nameemail {
    flex-direction: column;
  }

  .nameemail div {
    width: 100%;
  }


}
